body {
    background: linear-gradient(300deg, rgb(232, 58, 58), white);
    }

.h1{
    margin-top:3%;
    text-decoration:underline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
}
.card1 {
    height: 25em;
    margin: 20px;
    width: 20%;
    border-radius: 10px;
    transform-origin:center;
    box-shadow: 0 8px 20px rgb(153, 1, 34);
    background: linear-gradient(300deg, rgb(229, 131, 131), white) ;
}
.card1:hover {
    cursor: pointer;
    box-shadow:0 16px 40px rgb(228, 17, 17);
    transform: translate(-10px);
}
.row{
    display: flex;
    flex-direction: row;
    flex:1;
}
.text {
    text-decoration: underline;
}
.logo {
    border-radius: 50%;
    height: 150px;
    width: 170px;
    margin-left: 525px;
    margin-right: auto;
}
.img5 {
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    height:80%;
    width:85%;
    border-radius:10px;
    border: 2px solid black;   
}
.div-img{
    display: flex;
    margin: auto;
    padding-right: 12px;
    padding-left: auto;
}
.div-img17{
    display: flex;
    margin: auto;
}
.img1 {
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    height:230px;
    width:170px;
    border-radius: 10px;
    border: 2px solid black;
}
.img7 { 
    margin:20px;
    height:250px;
    width:190px;
    border-radius: 10px;
    border: 2px solid black;
}
.uh {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.uh:hover{
    cursor: pointer;
}
.hr {
    background-color: rgb(166, 21, 21);
    width: 1100px;
    height: 2px;
}
.card2 {
    height: 15em;
    margin: 20px;
    width: 30%;
    border-radius: 10px;
     border: 2px solid #ae0046;
    backdrop-filter: blur(5px); 
    background-color: (255, 255, 255,);  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.card3 {
    height: 15em;
    margin: 20px;
    width: 30%;
    border-radius: 10px;
     border: 2px solid #ae0046;
    backdrop-filter: blur(5px); 
    background-color: (255, 255, 255,);  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.card4 {
    height: 15em;
    margin: 20px;
    width: 30%;
    border-radius: 10px;
     border: 2px solid #ae0046;
    backdrop-filter: blur(5px); 
    background-color: (255, 255, 255,);  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.table {
    width: 500px;
    border: 2px solid black;
    border-collapse: collapse;
}
.ta {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;   
    border-right: 2px solid black; 
}
.row2{
    display: flex;
    gap:40px;
}
.txt {
    padding-left: 38px;
    text-decoration: underline;
}
.txt2 {
    padding-left:55px;
    text-decoration: underline;
}
.txt3 {
    padding-left:30px;
    text-decoration:underline;
}
.txt4 {
    padding-left:68px;
    text-decoration:underline;
}
.txt5 {
    padding-left:25px;
    text-decoration:underline;
}
.txt6 {
    padding-left:52px;
    text-decoration: underline;
}
.txt8 {
    padding-left:76px;
    text-decoration:underline;
}
.txet {
    padding-left:61px;
    text-decoration:underline;

}
